<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="first-slide" src="assets/images/paper.jpg" alt="First slide">
    </div>
  </div>
</div>

<div class="container marketing">
  <div class="row featurette">
    <div class="col-md-10">
      <h2 class="featurette-heading">Publications</h2>
      <p><span class="text-muted"><a href="#"></a></span></p>
      <p class="lead">Under construction...</p>
    </div>
  </div>
</div>
