<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
      <div class="container">
        <div class="carousel-caption d-none d-md-block text-left">
          <h1>Teamphoto here :-)</h1>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container marketing">

  <div class="row featurette" id="alena">
    <div class="col-md-2">
      <img class="featurette-image img-fluid mx-auto" src="assets/images/team/naiakshina.jpg" alt="Alena Naiakshina">
    </div>
    <div class="col-md-10">
      <h2 class="featurette-heading">Alena Naiakshina</h2>
      <p><span class="text-muted"><a href="#"></a></span></p>
      <p class="lead">Dolor ipsum</p>
    </div>
  </div>

  <hr class="featurette-divider" id="anastasia">
  <div class="row featurette">
    <div class="col-md-2">
      <img class="featurette-image img-fluid mx-auto" src="assets/images/team/danilova.jpg" alt="Anastasia Danilova">
    </div>
    <div class="col-md-10">
      <h2 class="featurette-heading">Anastasia Danilova</h2>
      <p><span class="text-muted"><a href="#"></a></span></p>
      <p class="lead">Dolor ipsum</p>
    </div>
  </div>

  <hr class="featurette-divider" id="chris">

  <div class="row featurette">
    <div class="col-md-2">
      <img class="featurette-image img-fluid mx-auto" src="assets/images/team/tiefenau.jpg" alt="Christian Tiefenau">
    </div>
    <div class="col-md-10">
      <h2 class="featurette-heading">Christian Tiefenau</h2>
      <p><span class="text-muted"><a href="https://www.christiantiefenau.de/">www.christiantiefenau.de</a></span></p>
      <p class="lead">Dolor ipsum</p>
    </div>
  </div>

  <hr class="featurette-divider" id="emanuel">

  <div class="row featurette">
    <div class="col-md-2">
      <img class="featurette-image img-fluid mx-auto" src="assets/images/team/zezschwitz.jpg" alt="Emanuel von Zezschwitz">
    </div>
    <div class="col-md-10">
      <h2 class="featurette-heading">Emanuel von Zezschwitz</h2>
      <p><span class="text-muted"><a href="#"></a></span></p>
      <p class="lead">Dolor ipsum</p>
    </div>
  </div>

  <hr class="featurette-divider" id="marco">

  <div class="row featurette">
    <div class="col-md-2">
      <img class="featurette-image img-fluid mx-auto" src="assets/images/team/herzog.jpg" alt="Marco Herzog">
    </div>
    <div class="col-md-10">
      <h2 class="featurette-heading">Marco Herzog</h2>
      <p><span class="text-muted"><a href="#"></a></span></p>
      <p class="lead">Dolor ipsum</p>
    </div>
  </div>

  <hr class="featurette-divider" id="matthew">

  <div class="row featurette">
    <div class="col-md-2">
      <img class="featurette-image img-fluid mx-auto" src="assets/images/team/smith.jpg" alt="Matthew Smith">
    </div>
    <div class="col-md-10">
      <h2 class="featurette-heading">Matthew Smith</h2>
      <p><span class="text-muted"><a href="http://mattsmith.de/">www.mattsmith.de</a></span></p>
      <p class="lead">Dolor ipsum</p>
    </div>
  </div>
</div>
